# Ignore everything
*

# Don't ignore files ending with slash = directories
!*/

# Ignore these directories
.cache/
.github/
.next/
.vscode/
.yarn/
public/
node_modules/

# Don't ignore these files
!.eslintrc.json
!package.json
!README.md
!vercel.json
!tailwind.config.js
!postcss.config.js

# Don't ignore these files ending with extension
!*.mdx
!*.jsx
!*.js
!*.tsx
!*.ts
